html *{
   font-family: Helvetica;
}
html a{
	color: darkgray;
	text-decoration: none;
}

html a:hover{
	color: black;
}



.links{
	color: LightBlue;
}

#li_logo {
	display: inline;
  }

.linkedin_logo {
  height: 30px;
  float: right;
}

.site-header {
  background: #333;
}

/* Top navigation div*/
.topnav{
	padding-bottom: 5px;
	border-bottom: 1px solid;
	display: inline-block;
	}

/* Navigation buttons*/
.topnav button {
  color: white;
  background-color: #333;
  padding: 10px 12px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* Active page buttons */
.topnav button.active_button_home{
	background-color: #15cf75;
}

.topnav button.active_button_expertise{
	background-color: #ed2415;
}

.topnav button.active_button_interests{
	background-color: #E6E216;
}

.topnav button.active_button_blog{
	background-color: #16E6B3;
}

.topnav button.active_button_podcast{
	background-color: #1625E6;
}

.topnav button.active_button_contact{
	background-color: #BE16E6;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Helvetica;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover button {
  background-color: white;
  color: black;
  opacity:0.5;
}

.page_title{
	margin-top: -15px;
}

.page_title h1{
	font-size: 48px;
}

.body-style {
  background: #333;
  color: white;
}

.main-body {
  background: #333;
  color: white;
  padding-left: 10px; 
  padding-right: 10px;  
}

.main-body p {
  font-size: 18px;
}

.main-body-full{
	display: inline-block;
	overflow: auto;
	flex: 1;
	margin-top: -20px;
}

.adjacent_divs{
	display: flex;
}

.adjacent_divs_main{
	display: flex;
}

.main-body-left{
	display: inline-block;
	overflow: auto;
	width:48%;
	flex: 1;
	margin-top: -20px
}

.main-body-right{
	display: inline-block;
	float: right;
	width:48%;
	flex: 1;
	margin-top: -20px
}

.main-body-right img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex: 1;
}




/* Footer */
.site-footer {
  position: relative;
  left: 0;
  bottom: -20px;
  background: #333;
  height: 50px;
  width: 100%;
  font-size: 12px;
}

.footer_div {
  float: left;
} 

.footer_div p{
  color: white;
  text-align: left;
} 

/* Contact form */
.contact_form {
	font-size: 15px;
	padding: 5px;
	flex: 1;
}

.adjacent_forms{
	display: flex;
}

.contact_form_container{
	display: inline;
}

.form_container{
	padding:10px;
	background: #9e9886;
	border: 1px solid black;
	display: inline-block;
}

.subscribe_button{
	padding-top: 5px;
	display: inline-block;
}

/* Blog summary page*/
.blog_row{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 120px;
	justify-content: center;
	align-items: center; 
}

.adjacent_divs_blog_summary{
	display: flex;	
}

.blog_summary_square{
	max-width: 60%;
	flex: 1;
	display: inline-block;
	border-bottom: 1px solid grey;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.blog_summary_text{
	overflow: hidden;
	padding: 0,0,0,0;
}

.blog_summary_text p{
	padding: 0,0,0,0;
}

.blog_summary_square p{
	font-size: 18px;
}

.blog_summary_square h1{
	font-size: 25px;
	margin-top:-4px;
	color:white;
}

.blog_summary_square h2{
	font-size: 13px;
	margin-top:-5px;
	margin-bottom:-3px;
}

.blog_summary_square_image{
	height: 212px;
	float: left;
}

.blog_top_row_spacer{
	height: 50px;
}

.blog_summary_right_spacer{
	width:10%;
}

.keywords{
	opacity:0.5;
	font-size: 12px;
	list-style-type: none;
	padding-left: 0;
	padding-top:5px;
}

.keywords li{
	display: inline;
	margin: 0 30px 0 0;
}

.blog_date_summary{
	font-size: 14px;
}

@media (max-width: 800px) {
	/* CSS that should be displayed if width is equal to or less than 800px goes here */

.adjacent_divs_main{
	display:inline-block;
}

.adjacent_divs_blog_summary{
	flex-direction: column;	
}

.contact_form {
	display: block;
}

.blog_summary_square_image{
	width: 100%;
	height: auto;
	order: 1;
	margin-bottom: 10px;
}

.blog_summary_square{
	max-width: 100%;
	display: inline-block;
	border-bottom: 1px solid grey;
	padding-top: 0px;
	padding-bottom:10px;
	order: 2;
}

.blog_summary_right_spacer{
	width: 0%;
}

.main-body-left{
	display: block;
	overflow: auto;
	width:100%;
	margin-top: -20px
}

.main-body-right{
	display: block;
	overflow: auto;
	width: 100%;
	padding-top: 30px;
}

.main-body-right img {
	width: 75%;
	display: block;
  }

}

/* Blog post page*/

.blog_body_top_image_div{
	padding-top: 50px;
	margin-left: 22.5%;
	margin-right: 22.5%;
	width: 55%;
	display: inline-block;
}

.blog_body_spacer{
	width: 40%;
	display: flex;
}

.blog_body_top_image{
	width: 100%;
	display: flex;
	justify-content: center;

}

.blog_body{
	margin-left: 22.5%;
	margin-right: 22.5%;
	width: 55%;
	background-color: #5a5856;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
}

.blog_post_text{
	padding-bottom: 20px;
	border-bottom-style: solid;
}

.blog_body h1{
	margin-bottom: 0px;
}

.blog_date_article h2{
	font-size: 16px;
	opacity: 50%;
	margin-bottom:30px;
}

.image_credit{
	width: 100%;
	padding-top: 10px;
}

.image_credit p{
	font-size: 12px;
}


.blog_body blockquote{
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.blog_body blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
  }

  .blog_body blockquote p {
	display: inline;
  }

  @media (max-width: 800px) {
	/* CSS that should be displayed if width is equal to or less than 800px goes here */

.blog_body_top_image_div{
	padding-top: 50px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 95%;
	display: inline-block;
}

.blog_body{
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 95%;
	overflow: auto;
	background-color: #5a5856;
	padding: 10px 20px 10px 20px;
}

  }


/*
border: 1px solid black;
*/
